html {
    background-color: #005792;
}

#tudo {
    display: flex;
    width: 1200px;
}

h1 {
    color: #FD5F00;
}

#car_esquerdo {
    background-color: #F6F6E9;
    width: 900px;
    margin-right: 10px;
}

#cabecalho {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: solid #13334C;
}

.produto {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #13334C;
}

.descricao {
    font-size: smaller;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 100px;
}

img {
    width: 70px;
    height: 50px;
}

#car_direito {
    background-color: #F6F6E9;
    border: solid #FD5F00;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

#subtotal {
    border-bottom: solid #13334C;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#frete {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#total {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #F6F6E9;
    border: solid #FD5F00;
    align-items: center;
}

#sub_cabecalho{
    background-color: #F6F6E9;
    border: solid #FD5F00;
    margin-top: 10px;
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 240px;
    height: 80px;
}

.rodape {
    width: 1200px;
    height: 210px;
    margin-top: 50px;
    background-color: #F6F6E9;
    border: solid #FD5F00;
    display: flex;
    justify-content: space-around;
}

.rodape2 {
    background-color: #F6F6E9;
    border: solid #FD5F00;
    display: flex;
    margin-top: 50px;
    width: 1200px;
    height: 200px;
    justify-content: space-around;
}

.Pagamento {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.pag2 {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.Certificados {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.cer2 {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.Segurança {
    width: 95px;
    height: 90px;
}

.cartoes {
    width: 60px;
    height: 30px;
}

.rodape3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6E9;
    border: solid #FD5F00;
    margin-top: 50px;
    width: 1200px;
    height: 80px;
}

.icons {
    display: flex;
    align-content: space-around;
}

.logo2 {
    width: 200px;
    height: 60px;
}

#title{
    margin-right: 1000px;
}
#tudao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}